@import "../../stylus/main.styl"



.AppContainer
	position relative
	
	display flex
	
	flex-direction column
	
	width 100%
	height 100%
	
	background-color #171717
	
	color #efefef
	
	font-family open-sans-font
	font-size 14px
	font-weight 400
	
	overflow-y auto

.AppBody
	display flex
	
	flex 1 0 auto
	flex-direction column
	
	h1
		padding 8px 8px 16px
		
		text-align center

.AppHeaderToggle
	position absolute
	top 100%
	right 0
	
	padding 4px

	background #ff7f00
	
	border-radius 0 0 0 4px
	
	cursor pointer
	
	.MaterialIcons
		font-size 32px